@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading gray">Instruções de uso</div>

<blockquote>
    <p>Cadastrar Usuário</p>
    <footer>Acesse o menu Gerenciar Acesso e sub-menu Cadastrar Usuário para criar novos usuários que terão acesso a esse Portal.</footer>
</blockquote>
<blockquote>
    <p>Listar Usuário</p>
    <footer>Acesse o menu Gerenciar Acesso e sub-menu Listar usuário para criar novo usuário editar dados do usuário e resetar senha.</footer>
</blockquote>
<blockquote>
    <p>Cadastrar Pesquisa</p>
    <footer>Acesse o menu Gerenciar Pesquisas e sub-menu Cadastrar Pesquisa para criar uma nova pesquisa.</footer>
</blockquote>
<blockquote>
    <p>Listar Pesquisa</p>
    <footer>Acesse o menu Gerenciar Pesquisas e sub-menu Listar Pesquisas para criar nova pesquisa, editar pesquisas que não estão publicadas, publicar pesquisa e excluir pesquisa que não possuem perguntas. Para gerenciar as perguntas e respostas das pesquisas, navegue pela ação editar pesquisa</footer>
</blockquote>