@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading gray">Instruções de uso</div>
<blockquote>
    <p> Título da instrução</p>
    <footer>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</footer>
</blockquote>
<blockquote>
    <p> Título da instrução</p>
    <footer>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</footer>
</blockquote>
<blockquote>
    <p> Título da instrução</p>
    <footer>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</footer>
</blockquote>
<blockquote>
    <p> Título da instrução</p>
    <footer>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</footer>
</blockquote>
