/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.form-login {
    max-width: 360px;
    padding: 15px;
    margin: auto;
}

h2 {
    color: #e26963;
}

.form-medio {
    padding: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.red {
    color: #e31d1a;
}

.green {
    color: #00a423;
}

.gray {
    color: #888888 !important;
}

.footer {
    border-top:1px solid #f9f9f9;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #fff;
    text-align:center;
    vertical-align:middle;
    color:#bababa;
    
}
.footer p{margin:0px !important; }

.miolo {
    padding: 5px 5px 5px 5px;
}

hr {
    border: 1px solid #ffeeee;
    margin: 5px;
}
