html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    font-family: 'Lato', sans-serif;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.form-login {
    min-width: 250px;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    margin-top: -30px;
}

.fundo-cinza {
    background-color: #3d3d3d !important;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    .Absolute-Center.is-Responsive {
        width: 50%;
        height: 50%;
        min-width: 320px;
        max-width: 500px;
        padding: 40px;
    }

h2 {
    color: #e26963;
}

.form-medio {
    padding: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.red {
    color: #e31d1a;
}

.green {
    color: #00a423;
}

.gray {
    color: #888888 !important;
}


hr {
    border: 1px solid #ffeeee;
    margin: 5px;
}

.fundo-login {
    background-color: #969696;
}





/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
    text-align: center;
}

#footer {
    color: #888888;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.preloader {
    height: 350px;
    background: url(images/loading.gif) center center no-repeat;
}

#chart_wrap {
    position: relative;
    padding-bottom: 100%;
}

#chart {
    position: absolute;
    width: 100%;
}

@page {
    size: auto; /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 10mm 5mm 10mm 5mm;
}
@media screen{

    

}
@media print {

    .rodape {
        display: none;
    }
}
