@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading gray">Instruções de uso</div>

<blockquote>
    <p>Cadastrar Usuário</p>
    <footer>Acesse o menu Gerenciar Acesso e sub-menu Cadastrar Usuário para criar novos usuários que terão acesso a esse Portal.</footer>
</blockquote>
<blockquote>
    <p>Listar Usuário</p>
    <footer>Acesse o menu Gerenciar Acesso e sub-menu Listar usuário para criar novo usuário editar dados do usuário e resetar senha.</footer>
</blockquote>
<blockquote>
    <p>Cadastrar Pesquisa</p>
    <footer>Acesse o menu Gerenciar Pesquisas e sub-menu Cadastrar Pesquisa para criar uma nova pesquisa.</footer>
</blockquote>
<blockquote>
    <p>Listar Pesquisa</p>
    <footer>Acesse o menu Gerenciar Pesquisas e sub-menu Listar Pesquisas para criar nova pesquisa, editar pesquisas que não estão publicadas, publicar pesquisa e excluir pesquisa que não possuem perguntas. Para gerenciar as perguntas e respostas das pesquisas, navegue pela ação editar pesquisa</footer>
</blockquote>
<blockquote>
    <p>Relatório Pesquisa</p>
    <footer>Acesse o menu Relatórios e sub-menu Pesquisa para gerar gráficos e exportar em Excel a totalização de participações por pesquisa.</footer>
</blockquote>

<blockquote>
    <p>Baixe o aplicativo para Android. </p>
    <footer>Versão 1.0 <br /><a class="btn btn-primary btn-sm danger" href="@Url.Content("~/Download/")belgo-quest.apk" role="button" style="margin-top:10px"> <i class="fa fa-android fa-4" aria-hidden="true"></i>  Baixar</a></footer>
</blockquote><p>
